# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend
# dependencies
/.history
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# 백엔드: 구글 앱스 스크립트 내부 코드로 코드 저장용임.
backend
backend copy/Code.js
backend copy/input_admin.js
backend copy/input_user copy.js
backend copy/input_user.js
backend copy/proxy.js
