@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

.wrap {
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.064);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;

  h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  h3,
  p {
    margin: 0;
  }

  h3 {
    margin-top: 0.5rem;
  }
  .card {
    padding: 1rem;
    font-size: 0.9rem;
    margin: 0 auto;
    background-color: #f9f9f9;
    width: calc(100% - 4px - 2rem);
    border-radius: 1rem;
    margin-top: 1rem;
        box-shadow: inset 0 0 2px 0 #aaa;
  }
  button {
    border: none;
    padding: 0.7rem 1rem;
    width: calc(100% - 2rem);
    text-align: center;
    font-size: 1rem;
    border-radius: 1rem;
    transition: background 0.3s linear;
    cursor: pointer;
    background: #5278e7;
    color: white;

    &:hover {
      background: #466de2;
    }
  }
  #header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .tabs {
      display: none;
      width: 40dvw;
      min-width: fit-content;
      // display: flex;
      flex-direction: row;
      margin: 0 auto;
      button.tab {
        min-width: fit-content;
        width: 50%;
        height: 50px;
        border-radius: 0;
        box-shadow: inset 0 0 2px 0 #ccc;
        color: #000;
        &:hover {
          background-color: #ccc;
        }
      }
    }
    .info_area {
      flex-direction: row;
      margin: 0.5rem;
      align-items: center;
      span {
        display: inline-block;
        margin-right: 1rem;
      }
      button {
        width: fit-content;
        display: inline-block;
      }
    }
  }
}
