@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import "./_variables.scss";
@import "./mixin";

.wrap {
  caret-color: transparent;
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.064);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;

  h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 700;
  }
  h3,
  p {
    margin: 0;
  }

  h3 {
    margin-top: 0.5rem;
  }
  h4 {
    font-size: 0.8rem;
    color: $heading-color-4;
    margin: 0;
  }
  .input_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
      font-size: 1rem;
      font-weight: 700;
      text-align: left;
      color: $heading-color-2;
    }
    input {
      margin-bottom: 0.5rem;
      &:nth-last-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
  .card {
    padding: 1rem;
    font-size: 0.9rem;
    margin: 0 auto;
    width: calc(100% - 4px - 2rem);
    border-radius: $common-border-radius;
    margin-top: 1rem;
    background: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.064);
  }
  img.ci {
    width: 100%;
    max-width: 200px;
    // margin-bottom: 0.5rem;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    background: #5278e7;
    border: none;
    color: white;
    &:hover {
      background: #466de2;
    }
    &.warning {
      background: #e27a2f;
      &:hover {
        background: #cc6d29;
      }
    }
    &.info {
      background: white;
      border: 1px solid #ddd;
      box-shadow: 0 2px 8px 0 rgba(0, 19, 73, 0.06);
      color: #111;
      &:focus,
      &:active {
        border: 1px solid #5277e790;
      }
    }
    &.dark {
      background: #636870;
      &:hover {
        background: #555 !important;
      }
    }
    &.danger {
      background: #d82222;
      &:hover {
        background: #bb1818 !important;
      }
    }
  }
  .field,
  input,
  textarea,
  select {
    border-radius: $common-border-radius;
    transition: all 0.3s linear;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px 0 rgba(0, 19, 73, 0.06);
    font-size: 0.8rem;
    padding: 1rem 0.6rem;

    &:focus,
    &:active {
      border: 1px solid #5277e790;
    }
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6'><path d='M0 0 L5 6 L10 0 Z' fill='%23666'/></svg>")
      no-repeat right 1rem center;

    padding-right: 1.5rem;
  }

  input,
  textarea {
    caret-color: auto;
  }
  button {
    border-radius: $common-border-radius;
    transition: all 0.3s linear;
    outline: none;
  }

  #header {
    padding: 0 2rem;
    width: calc(100% - 4rem);
    height: $header-height;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;

    .heading_area {
      display: flex;
      align-items: center;
      .ci {
        max-width: 150px;
        margin-bottom: -6px;
      }
    }
    .tabs {
      display: none;
      width: 40dvw;
      min-width: fit-content;
      // display: flex;
      flex-direction: row;
      margin: 0 auto;
      button.tab {
        min-width: fit-content;
        width: 50%;
        height: 50px;
        border-radius: 0;
        box-shadow: inset 0 0 2px 0 #ccc;
        color: #000;
        &:hover {
          background-color: #ccc;
        }
      }
    }
    .info_area {
      display: flex;
      justify-content: space-between;
      color: $heading-color-3;
      .login_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.25rem;
        img.user {
          font-size: 1.5rem;
          margin-right: 0.5rem;
          color: $heading-color-3;
        }
        p {
          color: $heading-color-3;
          font-size: 1.1rem;
        }
      }
      button.logout {
        font-size: 1.5rem;
        width: fit-content;
        padding: 0.5rem;
        background: transparent !important;

        color: $heading-color-3;
        border: none;
        box-shadow: none;
        &:hover {
          background: transparent !important;
        }
      }
    }
  }
}

@include mobile {
  img.ci {
    max-width: 240px !important;
    margin-bottom: 0;
  }
}
