@import "./mixin";
#console_detail {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.25s ease-in-out;
  }

  .modal-content {
    overflow-y: auto;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 50%;
    max-height: 80vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;

    h2 {
      padding: 0;
      margin: 0 0 1rem 0;
    }
    .modal-body {
      .detailTable {
        .tbody {
          .tr {
            .th,
            .td {
              font-size: 0.9rem;
              margin: 0;
              display: flex;
              justify-content: left;
              align-items: center;
              padding: 0;
              white-space: pre;
              height: auto;
              max-height: unset;
              text-overflow: unset;
              word-break: inherit;
              line-clamp: unset;
              line-height: auto;
              height: 100%;
              padding: 0.3rem 0.5rem;
            }
            .th { 
              flex: 1 1 0;
              align-items: stretch;
              border: none; 
            }
            .td {
              background-color: white;
              text-align: left;
              flex: 4 1 0;
              cursor: default;
              &:hover {
                background-color: inherit;
              }
            }
          }
        }
      }
    }
    button.close-btn {
      width: 100%;
      margin: 1rem auto 0 auto;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
