@import "./variables";

#console {
  padding: 0 4rem;
  height: 100%;
  // height: calc(100% - $header-height);
  width: calc(100% - 8rem);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  button#top {
    // background: #eee;
    // box-shadow: 0 0 2px 0 #000;
    color: #111;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-align: center;
    width: 50px;
    height: 50px;
    z-index: 999;
    padding: 0;
    border-radius: 50%;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  h2 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  #search_area {
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.2fr;
    border-top: 1px solid #000;
    align-items: center;
    border-bottom: 1px solid #ddd;
    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .search_box {
      display: flex;
      flex-direction: row;
      flex: 1 1 0;
      align-items: center;
      .th {
        width: 20%;
        display: flex;
        align-items: center;
        background-color: #fafafa;

        height: 100%;
        label {
          width: 100%;
          text-align: center;
        }
      }
      .td {
        width: 80%;
        height: 100%;
        input {
          margin: 0.5rem 1rem;
          width: calc(100% - 3.2rem);
          font-family: inherit;
        }
      }

      /* input[type="checkbox"] {
        box-shadow: none;
        width: 1rem;
        margin: 0 0.3rem 0 0;
        accent-color: red;
      } */
    }
    button.clear {
      margin: 0;
      width: 100%;
      height: fit-content;
      flex: 0.5 1 0;
      padding: 0.7rem 1rem;
    }
  }
  .table_wrapper {
    height: calc(100% - 5dvh - 2rem);
    overflow-y: auto; // 🔹 세로 스크롤 활성화
    .list_info {
      margin: 0 0 1rem;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        padding: 0;
      }
      button.reload {
        // margin-right: 0.5rem;
        width: fit-content;
        box-shadow: none;
        border: none;
        font-size: 1.5rem;
        padding: 0 1rem;
        &:hover {
          color: #555;
        }
      }
    }
    #dataTable {
      width: 100%;
      display: table;
      flex-direction: column;
      flex: 1;
      border-collapse: collapse;
      overflow: auto;
      margin-bottom: calc(1.5rem + 70px);
      position: relative;

      .thead,
      .tbody {
        .tr {
          display: flex;
          align-items: center;
          flex: 1 1 auto;
          cursor: pointer;
          transition: all 0.3s linear;
          height: fit-content;

          &:hover {
            background-color: #fafcff;
          }
          .th,
          .td {
            font-size: 0.8rem;
            padding: 0 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            line-height: 1.4rem;
            max-height: calc(1.4rem * 2);
            height: 2.8rem;
            text-align: center;
            border-right: 1px solid #ddd;
            // min-height: calc(48px - 1rem);

            flex: 1 1 0;
            button {
              font-size: 0.9rem;
              padding: 0;
              height: 2rem;
            }

            &.requestNote,
            &.quoteMemo,
            &.quoteAmount {
              flex: 3 1 0;
            }
            &.spec,
            &.requestDate {
              flex: 2 1 0;
            }
            &.quoteMemo,
            &.quoteAmount {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              height: 2rem;

              input {
                padding: 0 0.25rem;
                margin-right: 0.5rem;
                height: calc(100% - 2px);
                margin: 0;
                width: calc(70% - 1rem);
                overflow-x: auto;
                overflow-y: hidden;
              }

              button {
                width: 30%;
              }
            }
            &.sendMail {
              border-right: none;
              align-items: center;
              display: flex;
              justify-content: center;
              flex: 1 1 0;

              button.warning {
                width: 100%;
                white-space: pre;
              }
            }
          }
          /* ✅ 열 비율 클래스 */
          .flex-1 {
            flex: 1 1 0;
          }
          .flex-2 {
            flex: 2 1 0;
          }
          .flex-3 {
            flex: 3 1 0;
          }
        }
      }
      .thead {
        position: sticky;
        top: 0;
        z-index: 5;
        .th_tr {
          background-color: #fafafa;
          border-top: 1px solid $heading-color-2;
          border-bottom: 1px solid $heading-color-4;
          font-weight: 500;
          align-items: center !important;

          .th {
            color: $heading-color-3;
            font-weight: 500;
            display: flex;
            line-height: 1.5;
            justify-content: center !important;
            align-items: center !important;
            &:hover {
              background: #fafafa;
            }
            svg {
              font-size:1rem;
            }
          }
        }
      }
      .tbody {
        display: flex;
        flex-direction: column;
        flex: 1;
        .tr {
          border: 1px solid #ddd;
          border-right: none;
          border-left: none;
        }
      }
    }
  }
  .th,
  .td {
    font-size: 0.9rem;
  }
}
