@import "./mixin";
#console_detail {
  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.25s ease-in-out;
  }

  .model_content {
    overflow-y: auto;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 60%;
    max-height: 80vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;

    h2 {
      padding: 0;
      margin: 0 0 1rem 0;
    }
    .modal_body {
      .detailTable {
        margin-bottom: 1rem;
        .tbody {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-bottom: 0;
        }
        .field {
          display: flex;
          box-shadow: none;
          padding: 0;
          border: none;
          .th,
          .td {
            font-size: 0.9rem;
            margin: 0;
            text-align: center;
            justify-content: left;
            align-items: center;
            padding: 0.7rem 0.5rem;
            border: none;
            outline: none;
            box-shadow: inset 0 0 0 0.5px #ccc;
            position: relative;
            &.th {
              background-color: $table-th-bg;
              width: 40%;
              color: $heading-color-3;
              justify-content: center;
            }
            &.td {
              width: 60%;
              background-color: white;
              text-align: left;
              &:hover,
              &:focus,
              &:active,
              &:focus-visible {
                background-color: inherit;
                border: none;
                outline: none;
                box-shadow: inset 0 0 0 0.5px #ccc;
              }
            }
          }
          &.full {
            margin-top: 1rem;
            flex-direction: column; 
            .th {
              width: inherit;
            }
            .td {
              width: inherit;
              white-space: pre-wrap;
            }
          }
        }
      }
      /*       .field.full {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        box-shadow: none;
        padding: 0;
        flex-direction: column;
        .th {
          font-weight: 600;
          padding: 0.5rem 0.5rem 0 0.5rem;
          margin-bottom: 0.2rem;
        }
        .td {
          padding: 0 0.5rem 0.5rem 0.5rem;
          white-space: pre-wrap;
        }
      } */
    }
    button.close-btn {
      width: 100%;
      margin: 1rem auto 0 auto;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
