@import "./mixin";
#console_detail {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.25s ease-in-out;
  }

  .modal-content {
    overflow-y: auto;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 50%;
    max-height: 80vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;

    h2 {
      padding: 0;
      margin: 0 0 1rem 0;
    }
    .modal-body {
      .detailTable {
        margin-bottom: 1rem;
        .tbody {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          .field {
            display: flex;
            box-shadow: none;
            padding: 0;
            border: none;
            border-bottom: 1px solid #ddd;
            &:last-child{
              border-bottom: none;
            }
            &.full {
              display: flex;
              width: 100%;
              margin-top: 1rem;
              box-shadow: none;
              padding: 0;
            }
            .th,
            .td {
              box-shadow: none;
              font-size: 0.9rem;
              margin: 0;
              display: flex;
              justify-content: left;
              align-items: center;
              padding: 0.5rem;
              &.th {
                border: none;
                background-color: $table-th-bg;
                width: 30%;
              }
              &.td {
                width: 70%;
                background-color: white;
                text-align: left;
                &:hover {
                  background-color: inherit;
                }
              }
            }
          }
        }
      }
    }
    button.close-btn {
      width: 100%;
      margin: 1rem auto 0 auto;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
