@import "./mixin";
@import "./variables";
.login_wrap {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_area {
    height: 60dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: map-get($cntnt-wrap-widths, desktop);
    @include tablet {
      width: map-get($cntnt-wrap-widths, tablet);
    }
    @include mobile {
      width: map-get($cntnt-wrap-widths, mobile);
    }
    h2 {
      color: $heading-color-2;
      text-align: center;
    }

    h4 {
      margin-bottom: 1.5rem;
    }
    .login_form {
      display: flex;
      width: 80%;
      flex-direction: column;

      button {
        width: 100%;
      }
    }

    .error-msg {
      color: red;
      margin-top: 0.8rem;
      font-size: 0.9rem;
    }
    .login-hint {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: #666;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
